<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Mcommerce</title>

    <link rel="stylesheet" type="text/css"
          href="http://localhost:8080/webjars/bootstrap/4.0.0-2/css/bootstrap.min.css"/>

</head>
<body>


<div class="container">

    <h1 class="text-center">Application Mcommerce</h1>

    <div class="row">
        <div class="col-md-4 mx-auto mt-5 text-center">

            <h2 th:text="'Expédition : '+${expedition.id}" class="text-center"></h2>

            <p th:text="'Commande N°: '+${expedition.idCommande}"></p>

            <p >Etat de la commande :</p>

            <p th:if="${expedition.etat}==0" class="font-weight-bold" style="color:orange">
                En préparation
            </p>

            <p th:if="${expedition.etat}==1" class="font-weight-bold" style="color:green">
                Expediée
            </p>

            <p th:if="${expedition.etat}==2" class="font-weight-bold" style="color:black">
                Livrée
            </p>


        </div>
    </div>

</div>


<script type="text/javascript" src="http://localhost:8080/webjars/bootstrap/4.0.0-2/js/bootstrap.min.js"></script>

</body>
</html>